<% title "Catalogs" %>
<div class="grid_12">
	<div class="box">
		<h2>Catalogs List</h2>
		<div class="block" id="tables">
			<table>
				<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>No. Datasets</th>
					<th>publisher_organization_id</th>
					<th>Updated</th>
				</tr>
				</thead>
				<% unless @catalogs.nil? %>
					<% @catalogs.each do |catalog| %>
					<% dataset_count = CatalogRecord.by_catalog_id(:key => catalog.catalog_id ).count %>
					  <tr>
							<td><%= link_to catalog.title, catalog %></td>
							<td><%= catalog.description %></td>
							<td><%= dataset_count %></td>
							<td><%= catalog.publisher_organization_id %></td>
							<td><%= catalog.updated_at %></td>
					  </tr>
					<% end %>
				<% end %>
			</table>
			<%= link_to 'New catalog', new_catalog_path %>
		</div>
	</div>
</div>