<div class="grid_9">
	<div class="box">
		<h2>Content Documents List</h2>
		<div class="block" id="tables">
			<table>
				<thead>
				<tr>
					<th>Title</th>
					<th>Source</th>
					<th>URI</th>
					<th>Description</th>
					<th>Updated</th>
				</tr>
				</thead>
				<% content_documents.each do |cd| %>
				  <tr>
						<td><%= link_to cd.title, [:admin, cd] %></td>
						<% source_org = cd.get_creator_organization %>
						<td><%= link_to source_org.name, [:admin, source_org] unless source_org.nil? %></td>
						<td><%= cd.uri %></td>
						<td><%= cd.metadata.description unless cd.metadata.nil? %></td>
						<td><%= cd.updated_at %></td>
				  </tr>
				<% end %>
			</table>
		</div>
	</div>
</div>