<% title "Data Model" %>
<div class="grid_5">
		<div class="box">
			<h2><%=h @data_model.title %></h2>
			<div class="block">
				<p><b>URI:</b> <%=h @data_model.uri %></p>
				<% metatdata = @data_model.metadata %>
		    <p><b>Type:</b> <%=h metatdata.type %></p>
		    <p><b>Format:</b> <%=h metatdata.format %></p>
		    <p><b>Subject:</b> <%=h metatdata.subject %></p> 
		    <p><b>Source:</b> <%=h metatdata.source %></p>
		    <p><b>Creator:</b> <%=h metatdata.creator %></p> 
		    <p><b>Contributor:</b> <%=h metatdata.contributor %></p> 
		    <p><b>Publisher:</b> <%=h metatdata.publisher %></p> 
		    <p><b>Date:</b> <%=h metatdata.date %></p>
		    <p><b>Rights:</b> <%=h metatdata.rights %></p> 
		    <p><b>Language:</b> <%=h metatdata.language %></p>
		    <p><b>Spatial coverage:</b> <%=h metatdata.spatial_coverage %></p>
		    <p><b>Temporal coverage:</b> <%=h metatdata.temporal_coverage %></p>
		    <p><b>Accrual periodicity:</b> <%=h metatdata.accrual_periodity %></p> 
		    <p><b>Description:</b> <%=h metatdata.description %></p> 
			</div>
		</div>
		<p><%= link_to 'Edit', edit_data_model_path(@data_model) %> |
		<%= link_to 'Back', data_models_path %> | 
		<%= link_to 'Delete', @data_model, :confirm => 'Are you sure?', :method => :delete %></p>
</div>

<div class="grid_7">
	<div class="box">
		<h2>Properties</h2>
		<%= render :partial => 'properties' %>
	</div>
</div>
