<% title "New Dataset" %>
<div class="grid_4">
	<div class="box">
		<h2>Steps</h2>
		<div class="block">
			<ol>
				<b><li>Define Dataset</li></b>
				<li>Upload content</li>
				<li>Import content</li>
			</ol>
		</div>
	</div>
</div>
<div class="grid_8">
	<div class="box">
		<h2>Define Dataset</h2>
		<div class="block">
			<div class="box">
				<% form_for([:admin, @dataset]) do |ds| %>
				  <p><%= ds.label :title %> <%= ds.text_field :title %></p>
					<% fields_for(@metadata) do |m| %>
					  <%= m.error_messages %>
						<p><%= m.label :description %><br/> <%= m.text_area :description, :rows => 3 %></p>
						<p><%= m.label :keywords, 'Keywords (separated by commas)' %><br/> <%= m.text_area :keywords, :rows => 3 %></p>
						<p class="date"><%= m.label :last_updated %> <%= m.date_select :last_updated %></p>
					<% end %>				
				  <p><%= submit_tag 'Next' %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>
