<p><b>Description:</b> <br/><%= subject.metadata['description'] %></p>
<p><b>Keywords:</b> <br/><%= subject.metadata["keywords"] %></p>
<p><b>URI:</b> <br/><%= subject.metadata['uri'] %></p>
<p><b>Conforms to:</b> <br/><%= subject.metadata.conforms_to %></p>
<p><b>Creator agency:</b> <br/><%= subject.get_creator_organization.name %></p>
<p><b>Maintainer agency:</b> <br/><%= subject.get_maintainer_organization.name  %></p>
<p><b>Publisher agency:</b> <br/><%= subject.get_publisher_organization.name  %></p>
<p><b>Beginning date:</b> <br/><%= subject.metadata["beginning_date(1i)"] %></p>
<p><b>Ending date:</b> <br/><%= subject.metadata["ending_date(1i)"] %></p>
<p><b>Geographic coverage:</b> <br/><%= subject.metadata['geographic_coverage'] %></p>
<p><b>Type:</b> <br/><%= subject.metadata["type"] %></p>
<p><b>Language:</b> <br/><%= subject.metadata["language"] %></p>
<p><b>Created date:</b> <br/><%= subject.metadata["created_date(1i)"] %></p>
<p><b>Last updated:</b> <br/><%= subject.metadata["last_updated(1i)"] %></p>
<p><b>Rights:</b> <br/><%= subject.metadata["rights"] %></p>
