<% title "Organizations" %>
<div class="grid_12" >
	<p style="float:right;">
		<%= link_to 'Edit', edit_admin_organization_path(@organization) %> |
		<%= link_to 'List all', admin_organizations_path %> | 
		<%= link_to 'Delete', [:admin, @organization], :confirm => 'Are you sure?', :method => :delete %>
		</p>
	<hr/>
</div>
<div class="grid_3">
		<div class="box">
			<h2>Organization: <%=h @organization.name %></h2>
			<div class="block">
		    <p><b>Description:</b> <br/><%=h @organization.description %></p>
		    <p><b>Abbreviation:</b> <br/><%=h @organization.abbreviation %></p>
				<% unless @organization.website_url.blank? %>
		    	<p><b>Website URL:</b> <br/><%= link_to h(@organization.website_url), @organization.website_url %></p>
				<% end %>
				<h5>Address</h5>
				<% @organization.addresses.each do |address| %>
					<p><b><%= address.address_type %> address:</b></p>
			    <p><%= address.to_html %></p>
				<% end %>
				<h5>Points of Contact</h5>
				<% @organization.points_of_contact.each do |contact| %>
			    <p><b>Name:</b> <br/><%=h contact.first_name %> <%=h contact.last_name %></p>
			    <p><b>Job title:</b> <br/><%=h contact.job_title %></p>
			    <p><b>Phone:</b> <br/><%=h contact.phone %></p>
			    <p><b>Email:</b> <br/><%=h contact.email %></p>
			    <p><b>Contact Notes:</b><br/> <%=h contact.notes %></p>
				<% end %>
			</div>
		</div>
</div>
<%= render :partial => 'admin/datasets/list_datasets', :locals => {:datasets => @organization.get_creator_datasets } %>
