<% title "Login" %>
<div class="grid_5">
<div class="box">
	<h2>Login</h2>
	<% form_for @user_session, :url => user_session_path do |f| %>
		<div class="block" id="login-forms">
			<fieldset class="login">
				<legend>Login</legend>
			  <p><%= f.error_messages %></p>
				<p class="notice">Login using your email address.</p>
				  <p><%= f.label :email %> <%= f.text_field :email %></p>
				  <p><%= f.label :password %> <%= f.password_field :password %></p>
				  <p><%= f.label :remember_me %> <%= f.check_box :remember_me %></p>
				  <p><%= f.submit "Login" %></p>
			</fieldset>

			<fieldset>
				<legend>Register</legend>
				<p>If you do not already have an account, please register to create a new account.</p>
				<%= link_to "Register", new_account_path %>
			</fieldset>
			</div>
		<% end %>
	</div>
</div>